<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Панель управления OPTEX">
    <title>Панель управления</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="/styles/mainPage" rel="stylesheet">
    <link rel="icon" href="images/icon">

    <link rel="stylesheet" href="/styles/Notifications">
</head>
<body>

<header id="header">
    <h1>Unixru — Мы научим вас <strong>программировать!</strong></h1>
    <p>Онлайн-школа программирования для начинающих и продвинутых студентов. Гибкость, индивидуальный подход и качественное обучение — всё это мы предлагаем для ваших детей!</p>
    <a href="#courses" class="btn">Посмотреть курсы</a>

    <h2 id="scroll_down" style="color: #ff4d88; transform: scale(1.5);">Прокрутите вниз! :)</h2>
</header>

<footer>
    <p>&copy; 2024 Unixru. Все права защищены.</p>
</footer>

<script src="/scripts/Notifications"></script>

<script>
    function poshalka() {
        var notifications = new Notifications('', '', '')
        notifications.show('Мы любим мемы! Промокод: "MEMES2024" 10% скидка!', 'success');
    }


    // Эффект появления элементов при прокрутке
    window.addEventListener('scroll', function () {
        const h2_scroll_down = document.getElementById('scroll_down');
        const header = document.getElementById('header');
        h2_scroll_down.innerHTML = 'Пока!<button style="background-color: transparent; border: none; font-size: 40px;" onclick="poshalka()">😭</button>';
        setTimeout(() => {
            h2_scroll_down.classList.add('invisible');
            header.classList.add('header_after_scroll');
        }, 1000);

        let fadeElements = document.querySelectorAll('.fade-in');
        fadeElements.forEach(function (element) {
            if (element.getBoundingClientRect().top < window.innerHeight) {
                element.classList.add('visible');
            }
        });
    });
</script>

<script>
    setInterval(() => {
        if (location.href.endsWith('#enroll')) {
            location.href = "https://t.me/unixruBot";
        }
    }, 1000);
</script>

</body>
</html>
